$background-color: #f1f3f4;

$border-color: #dbdfe6;

$primary-color: #0ed04b;
$secondary-color: #cccccc;
$danger-color: #dc3545;

$text-title-color: #152c2c;
$text-color: #5f6c65;
$text-placeholder-color: #bfbfbf;

$radius: 2px;
